@import url('https://fonts.googleapis.com/css?family=Dosis');

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}

.header {
    float: left;
    color: #ffffff;
    margin: 0 0 0 30px;    
}


.nav {
    border-bottom: 1px solid #eaeaeb;
    text-align: right;
    height: 70px;
    line-height: 70px;
    width: 100%;
    background-color: #06805b;
    padding: 20px;
    margin-bottom: 70px;
}

.menu {
    margin: 0 30px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    line-height: 70px;
    clear: both;
}

#link {
    text-decoration: none;
    color: #06805b;
    font-size: 24px;
}

span {
    color: orange;
    font-size: 24px; 
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

.content {
    width: 100%;
    height: 900px;
    padding: 20px;
    margin-bottom: 30px;
}

.car-images {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;
    margin-top: 20px;
    background-color:#ffffff;
    height: 900px;
    overflow: scroll;
}

.view-images {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 100%;
    margin-top: 20px;
    background-color:#ffffff;
    height: 900px;
    overflow: scroll;
    display: flex;
}

.image {
    margin: 10px 10px;
    flex: 1;
    height: 50%;
    justify-content: space-between;
    border-bottom: 1px solid #888;
}

.details {
    margin: 10px 10px;
    flex: 1;
    height: 50%;
    border-bottom: 1px solid #888;
}

.car-images .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    color: #06805b;
    margin-top: 20px;
}

.car-images .box img {
    width: 180px;
    cursor: pointer;
}

.image img {
    width: 80%;
    height: 90%;
}

.details li {
    font-size: 1.5em;
    color: #06805b;
    list-style: none;
}

button {
    width: 50.6%;
    color: #ffffff;
    background-color: #06805b;
    height: 35px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

#pOrder {
    margin-top: 30px;
    font-size: 1.5em;
    width: 50%;
    height: 35px;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.footer {
    background-color: #06805b;
    width: 100%;
    min-height: 70px;
    padding: 20px;
    color: #ededed;
    position: relative;
    text-align: center;
    bottom: 0;
}

@media only screen and (max-width: 768px) {
    

    label {
        display: block;
        cursor: pointer;
        color: #ffffff;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #eaeaeb;
        margin: 0;
        color: #06805b;
    }

    #toggle:checked + .menu {
        display: block;
    }

    .car-images .box {
        width: 80%;
        padding: 10px;
        text-align: center;
        color: #06805b;
        margin-top: 20px;
    }

    .view-images {
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        height: 100%;
        margin-top: 20px;
        background-color:#ffffff;
        height: 900px;
        overflow: scroll;
        display: flex;
        flex-direction: column;
    }

    label {
        display: none;
    }
}